allow init block_device:blk_file { relabelto write };
allow init cameraserver:fd { use };
allow init debugfs:file { write };
allow init device:chr_file { ioctl open read write };
allow init dip_device:blk_file relabelfrom;
allow init dnsproxyd_socket:sock_file { write };
allow init fingerprintd_data_file:file { rename };
allow init fwmarkd_socket:sock_file { write };
allow init graphics_device:chr_file { ioctl write };
allow init hwservicemanager:binder { call transfer };
allow init init:capability { net_bind_service };
allow init init:capability2 { block_suspend };
allow init init:netlink_generic_socket { read write };
allow init init:netlink_kobject_uevent_socket { read };
allow init init:netlink_route_socket { bind create getattr read setopt write nlmsg_write };
allow init init:netlink_socket { bind create read write };
allow init init:rawip_socket { setopt };
allow init init:socket { bind create ioctl read write };
allow init init:tcp_socket { connect create read setopt write };
allow init init:udp_socket { bind ioctl read setopt write };
allow init ion_device:chr_file { ioctl write };
allow init logd:dir { getattr };
allow init mdtp_device:blk_file { relabelfrom };
allow init misc_partition:blk_file { relabelfrom };
allow init modem_efs_partition_device:blk_file relabelfrom;
allow init netd:unix_stream_socket { connectto };
allow init netutils_wrapper_exec:file { execute execute_no_trans getattr open read };
allow init node:udp_socket { node_bind };
allow init port:tcp_socket { name_connect };
allow init port:udp_socket { name_bind };
allow init property_socket:sock_file { write };
allow init sdcardfs:dir { search };
allow init sdcardfs:file { getattr };
allow init servicemanager:binder { call transfer };
allow init shell_exec:file { execute_no_trans };
allow init socket_device:sock_file { create setattr write };
allow init ssd_device:blk_file { relabelfrom };
allow init system_data_file:file { ioctl lock };
allow init system_data_file:sock_file { write };
allow init system_file:file { execute_no_trans };
allow init system_server:binder { call transfer };
allow init system_server:fd { use };
allow init system_server:unix_stream_socket { read write };
allow init tee_device:chr_file { write ioctl };
allow init tmpfs:lnk_file { create };
allow init uio_device:chr_file { write };
allow init vendor_file:file { execute_no_trans };
allow init vfat:dir { search };
allow init vfat:file { getattr open read };
allow init video_device:chr_file { ioctl write };
allow init vndbinder_device:chr_file { ioctl read };
allow init vndservicemanager:binder { call transfer };
